{% extends 'base.html.twig' %}
{% block title %}Iniciar sesión
{% endblock %}
{% block body %}
	<div class="contenedor">
		<div class="fondo"></div>
		<div class="cuadroTexto">

			<div class="cabecera w3-container w3-center">
				<a class="w3-container w3-center" href="https://migracion.genotipia.quasardevelops.fun/">
					<img src="https://oauth.genotipia.com/public/assets/img/logoDesplegado.svg" alt="Geb Test">
				</a>
			</div>
			<form action="{{ path('app_login') }}" method="post" class="w3-container">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				{% if error %}
					{% if error.messageKey == 'Invalid credentials.' %}
						<p class="w3-error">&#x26D4;&#xFE0F; Correo electrónico o contraseña inválidos</p>
					{% else %}
						<p class="w3-error">&#x26D4;&#xFE0F;
							{{ error.messageKey|trans(error.messageData, 'security') }}</p>
					{% endif %}
				{% endif %}
				<p>
					<label class="w3-text-theme" for="username">Correo electrónico</label>
					<input class="w3-input w3-border w3-light-grey" tabindex="1" type="email" required id="username" name="_username" value="{{ last_username }}">
				</p>
				<p>
					<label class="w3-text-theme" for="password">Contraseña</label>
					<input class="w3-input w3-border w3-light-grey" tabindex="2" type="password" required id="password" name="_password">
					<br>
					<a href="https://my.genotipia.com/recover" class="w3-text-blue w3-hover-text-blue-gray" tabindex="5">¿Has perdido la contraseña?</a>
				</p>
				<p>
					<button class="w3-button w3-black w3-block w3-ripple w3-hover-dark-gray" tabindex="3" type="submit">Iniciar sesión</button>
				</p>
			</form>
		</div>
	</div>
{% endblock %}
