{# templates/emails/confirmacion_registro.html.twig #}
<head>
  <meta charset="utf-8" />
</head>
<div class="">
  <div id=":fk" class="a3s aiL msg1739568969901850176">
    <div
      style="font-size: 16px; line-height: 25px; color: #1c242b; font-family: Helvetica, Arial, sans-serif; height: 100% !important; width: 100% !important; margin: 0; padding: 0;">
      <center>
        <table id="m_1739568969901850176bodyTable"
          style="border-collapse: collapse !important; height: 100% !important; width: 100% !important; margin: 0; padding: 0;"
          border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td id="m_1739568969901850176bodyCell"
                style="border-collapse: collapse; height: 100% !important; width: 100% !important; margin: 0; padding: 0;"
                align="center" valign="top" width="100%">
                <center>
                  <table id="m_1739568969901850176templateContainer" style="border-collapse: collapse !important;"
                    border="0" width="580" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="border-collapse: collapse;" align="center" valign="top">
                          <table id="m_1739568969901850176templateHeader" style="border-collapse: collapse !important;"
                            border="0" width="100%">
                            <tbody>
                              <tr>
                                <td class="m_1739568969901850176bodyHeader"
                                  style="border-collapse: collapse; padding-top: 40px; padding-bottom: 40px;"
                                  align="center" valign="top"><img class="CToWUd"
                                    style="line-height: 100%; outline: none; text-decoration: none; border: 0 none;"
                                    src="https://oauth.genotipia.com/public/assets/img/genotipia-logo.png"
                                    alt="Genotipia" /></td>
                              </tr>
                            </tbody>
                          </table>
                          <table id="m_1739568969901850176templateBody"
                            style="border-collapse: separate !important; overflow: hidden; border-radius: 5px; border: 1px solid #dfe3e6;"
                            border="0" width="580" cellspacing="0" cellpadding="0" bgcolor="white">
                            <tbody>
                              <tr>
                                <td class="m_1739568969901850176bodyContent"
                                  style="border-collapse: collapse; color: #505050; font-family: Helvetica; font-size: 16px; line-height: 150%; padding: 60px;"
                                  align="left" valign="top">
                                  <table style="border-collapse: collapse !important; text-align: center;" border="0"
                                    width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="border-collapse: collapse; font-family: Helvetica, Arial,                                                sans-serif; color: #1c242b; font-size: 26px; line-height: 150%;"
                                          text-align="center" valign="top">&iexcl;Bienvenido a Genotipia, {{name}}!
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse: collapse !important;" border="0" width="100%"
                                    cellspacing="0" cellpadding="10">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse: collapse;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse: collapse !important; background-position: 2px;"
                                    border="0" width="30px" cellspacing="0" cellpadding="0" bgcolor="#0052CC">
                                  </table>
                                  <table style="border-collapse: collapse !important;" border="0" width="100%"
                                    cellspacing="0" cellpadding="15">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse: collapse;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse: collapse !important;" border="0" width="100%"
                                    cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td
                                          style="border-collapse: collapse; font-size: 16px; line-height: 25px; color: #555d61;"
                                          valign="top">Le ha sido generada la siguiente contraseña:<br /><br />{{pass}}<br /><br />Le aconsejamos
                                          que la cambie desde su cuenta. </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="height: 40px; border-collapse: collapse !important;" border="0"
                                    width="100%" cellspacing="0" cellpadding="5">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse: collapse;">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    style="border-collapse: collapse !important; margin-left: auto; margin-right: auto;"
                                    width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse: collapse;">
                                          <table style="border-collapse: collapse !important;" border="0"
                                            cellspacing="0" cellpadding="0" align="left">
                                            <tbody>
                                              <tr>
                                                <td style="border-collapse: collapse;" align="left">
                                                  <table style="border-collapse: collapse !important; width: 454.5px;"
                                                    border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                      <tr style="margin: auto;">
                                                        <td class="m_1739568969901850176buttonTable"
                                                          style="border-collapse: collapse; border-radius: 24px; width: 50%;"
                                                          align="center" bgcolor="#0052CC"><a
                                                            style="width: 100%; display: block; text-decoration: none; text-align: center; font-weight: bold; font-size: 15px; font-family: sans-serif; color: #ffffff; background-color: #000000; border-radius: 24px; line-height: 24px; padding: 10px; border: 1px                                                                  solid #000000;"
                                                            title="Acceder a la plataforma" href="{{url}}"
                                                            target="_blank" rel="noopener">Acceder a la plataforma</a>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table style="border-collapse: collapse !important;" border="0" width="100%" cellspacing="0"
                            cellpadding="15">
                            <tbody>
                              <tr>
                                <td style="border-collapse: collapse;">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                          <table id="m_1739568969901850176templateFooter" style="border-collapse: collapse !important;"
                            border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="border-collapse: collapse; font-size: 13px; color: #a8afb3;" align="center"
                                  valign="top">Copyright &copy; {{year}} <span class="il">Genotipia</span>. Todos
                                  los derechos reservados</td>
                              </tr>
                            </tbody>
                          </table>
                          <table style="border-collapse: collapse !important;" border="0" width="100%" cellspacing="0"
                            cellpadding="15">
                            <tbody>
                              <tr>
                                <td style="border-collapse: collapse;">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>
  </div>
</div>
</div>